.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-top: 2%;
  }
  
  .card:hover {
    box-shadow: 0 1px 2px 0 rgba(143, 241, 78, 0.911);
  }
  
  .container {
    padding: 10px 10px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .panelDescription {
    width: 190px;
  }
