.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    margin-top: 2%;
  }
  
  .card:hover {
    box-shadow: 0 1px 2px 0 rgba(143, 241, 78, 0.911);
  }
  
  .container {
    padding: 10px 100px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .panelDescription {
    width: 200px;
  }
  
  @import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
