<div class="container">

  <div fxLayout="row">
    <div fxFlex.gt-sm="100%">
      <mat-card>
        <mat-card-content>
          <mat-list>

            <mat-list-item *ngFor="let evento of eventos; index as eventoId" class="card"
              [ngStyle]="{'background-color': evento.extendedProps.estado.color}">

              <h3 matLine>Titular de Reserva: {{evento.extendedProps.cliente.nombreYApellido}}</h3>
              <h3 matLine>Cabaña: {{evento.extendedProps.cabana.nombre}}</h3>
              <h3 matLine>Fecha Ingreso: {{evento.extendedProps.fechaDesde | date}}</h3>
              <h3 matLine>Fecha Egreso: {{evento.extendedProps.fechaHasta | date}}</h3>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="left-aligned-header">
                      {{evento.extendedProps.estado.descripcion}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description class="panelDescription">
                    Seña: {{evento.extendedProps.montoSenia | currency: 'USD'}}
                  </mat-panel-description>
                  <mat-panel-description class="panelDescription">
                    Total: {{evento.extendedProps.montoTotal | currency: 'USD'}}
                  </mat-panel-description>
                  <mat-panel-description class="panelDescription">
                    Saldo a pagar:
                    {{evento.extendedProps.montoTotal - evento.extendedProps.montoSenia | currency: 'USD'}}
                  </mat-panel-description>

                </mat-expansion-panel>
              </mat-accordion>

              <mat-card-actions style="margin-top: 2%; margin-left:2%">
                <a mat-button [routerLink]="['/registrocheckin', evento.id]"> Realizar Check In <mat-icon
                    title="Realizar Check IN">filter_frames</mat-icon></a>
  
                 <!-- <a mat-button (click)="checkIn(this)"> Realizar Check In 
                   <mat-icon title="Realizar Check IN">filter_frames</mat-icon></a> -->
              </mat-card-actions>

            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>