<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form [formGroup]="FormBusqueda">
        <h1 class="display-3">Gestión de reservas</h1>
        <p class="lead">Verificar disponibilidad</p>
        <hr class="my-3">
            <mat-form-field class="margin">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="pickerDesde" formControlName="FechaDesde">
                <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                <mat-datepicker #pickerDesde startView="month"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="margin">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="pickerHasta" formControlName="FechaHasta">
                <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                <mat-datepicker #pickerHasta startView="month"></mat-datepicker>
            </mat-form-field>

            <div class="row col-sm">
                <button mat-flat-button color="primary">Buscar</button>
            </div>
        </form>
    </div>
</div>