.fecha {
  width: 50%;
  padding-right: 5px;
}

#dniTelefono {
  width: 100%;
}

.dni {
  width: 50%;
  padding-right: 5px;
}

.telefono {
  width: 50%;
  padding-left: 5px;
}

.monto {
  width: 30%;
  padding-right: 10px;
}

.ocupantes {
  width: 20%;
  padding-right: 10px;
}

.cabania {
  width: 20%;
  padding-right: 10px;
}

.fullWidth {
  width: 100%;
}

.formWidth {
  max-width: 540px;
}

.buttonMargin {
  margin-right: 10px;
}

.formulario {
  padding: 30px;
}

mat-dialog-actions {
  justify-content: flex-end;
}
