<h2 mat-dialog-title>Registrar reserva</h2>

<mat-dialog-content [formGroup]="FormReserva">
  <mat-horizontal-stepper linear>
    <mat-step label="Datos de contacto">
      <form [formGroup]="FormReserva">
        <mat-form-field appearance="fill" appearance="standard">
            <mat-label><fa-icon [icon]="faIdCard"></fa-icon> DNI</mat-label>
            <input matInput formControlName="Dni">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" appearance="standard">
            <mat-label><fa-icon [icon]="faUser"></fa-icon> Apellido y Nombre</mat-label>
            <input matInput formControlName="ApellidoYNombre">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" appearance="standard">
            <mat-label><fa-icon [icon]="faPhone"></fa-icon> Teléfono</mat-label>
            <input matInput formControlName="Telefono">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" appearance="standard">
            <mat-label><fa-icon [icon]="faEnvelope"></fa-icon> Correo</mat-label>
            <input type="email" matInput formControlName="Correo">
        </mat-form-field>
        <div>
          <button mat-stroked-button color="warn" class="button-margin" (click)="cancelar()">Cancelar</button>
          <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step label="Datos de la reserva">
      <form [formGroup]="FormReserva">
        <mat-form-field>
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="pickerDesde" formControlName="FechaDesde">
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde startView="month"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="pickerHasta" formControlName="FechaHasta">
            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerHasta startView="month"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label><fa-icon [icon]="faUsers"></fa-icon> Ocupantes</mat-label>
            <mat-select formControlName="CantOcupantes">
            <mat-option *ngFor="let numero of CantidadOcupantes" value="numero" [value]="numero">{{numero}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
          <button class="button-margin" mat-stroked-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Finalizar">
        <form [formGroup]="FormReserva">
            <mat-form-field appearance="standard">
                <mat-label><fa-icon [icon]="faDollarSign"></fa-icon> Seña</mat-label>
                <input matInput formControlName="MontoSenia">
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard">
                <mat-label><fa-icon [icon]="faMoneyCheckAlt"></fa-icon> Total acordado</mat-label>
                <input matInput formControlName="MontoTotal">
            </mat-form-field>
            <div>
                <button class="button-margin" mat-stroked-button color="primary" matStepperPrevious>Anterior</button>
                  <button mat-flat-button color="primary" matStepperNext (click)="reservar()">Reservar</button>
            </div>
        </form>
    </mat-step>
  </mat-horizontal-stepper>
 
</mat-dialog-content>
