<div class="container">
    <div class="row">
        <mat-form-field class="margin">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="pickerDesde">
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde startView="month"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="margin">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="pickerHasta">
            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerHasta startView="month"></mat-datepicker>
        </mat-form-field>

        <div class="col-sm">
            <button mat-flat-button color="primary">Buscar</button>
        </div>
    </div>
</div>
  
  
