<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Gestión de reservas</h1>
    <p class="lead">Verificar disponibilidad</p>
    <hr class="my-3">

    <app-datepicker></app-datepicker>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <h1>Cabaña 1</h1>
      <hr class="my-2">
    </div>
    <div class="col-lg-8 col-sm-12">
      <app-calendar></app-calendar>
    </div>
  </div>
  <form-reserva></form-reserva>
</div>
