<div class="container">
    <div class="row text-center">
        <div class="col-lg-5 top">
            <h2>Cabaña 1</h2>
            <hr class="my-3">
            <full-calendar 
            class="myCalendar"
            defaultView="dayGridMonth"
            locale="es"
            timeZone="local"
            [buttonText]="{today: 'Hoy'}"
            [aspectRatio]="1.2"
            [plugins]="calendarPlugins"
            (dateClick)="handleDateClick($event)"
            (eventClick)="handleEventClick($event)"
            [events]="[{title: 'evento1', start:'2020-05-25', end:'2020-05-30', editable: 'true'}, {title: 'EVENTO2', start:'2020-05-28', end:'2020-06-10', editable: 'true'}]">
            </full-calendar>
        </div>
        <div class="col-lg-5 top">
            <h2>Cabaña 2</h2>
            <hr class="my-3">
            <full-calendar 
            defaultView="dayGridMonth"
            locale="es"
            timeZone="local"
            [buttonText]="{today: 'Hoy'}"
            [aspectRatio]="1.2"
            [plugins]="calendarPlugins"
            [events]="[{title: 'evento1', start:'2020-05-25', end:'2020-05-30', editable: 'true'}]">
            </full-calendar>
        </div>
    </div>
    
</div>
