.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    margin-left: 10px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-top: 2%;
  }

  .avatar-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-image: url('https://electronicssoftware.net/wp-content/uploads/user.png');
    background-size: cover;

  }

  .avatar-image-vehicle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/623/239/small/auto_car-16.jpg');
    background-size: cover;

  }