<mat-horizontal-stepper #stepper>

  <!-- Datos Personales -->
  <mat-step [stepControl]="datosPersonalesForm" errorMessage="Faltan datos obligatorios">

    <form [formGroup]="datosPersonalesForm">
      <ng-template matStepLabel>Datos Personales</ng-template>

      <div>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput type="text" placeholder="Juan" formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput type="text" placeholder="López Romero" formControlName="apellidos" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Número de Documento</mat-label>
          <mat-icon matSuffix>credit_card</mat-icon>
          <input matInput type="number" placeholder="38746321" formControlName="dni" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <mat-icon matSuffix>call</mat-icon>
          <input matInput type="number" placeholder="3516432432" formControlName="telefono" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <mat-icon matSuffix>alternate_email</mat-icon>
          <input matInput type="email" placeholder="juan@example.com" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput type="date" formControlName="fechaNacimiento" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext color="primary">Siguiente</button>
      </div>
      <div>
      </div>
    </form>
  </mat-step>

  <!-- Datos Domicilio -->
  <mat-step [stepControl]="datosContactoForm" errorMessage="Faltan datos obligatorios">
    <form [formGroup]="datosContactoForm">
      <ng-template matStepLabel>Datos del Domicilio</ng-template>
      <div>
        <mat-form-field>
          <mat-label>País</mat-label>
          <input matInput type="text" placeholder="Argentina" formControlName="pais" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Provincia</mat-label>
          <input matInput type="text" placeholder="San Juan" formControlName="provincia" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Barrio</mat-label>
          <input matInput placeholder="General Paz" formControlName="barrio" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Calle</mat-label>
          <input matInput type="text" placeholder="Cochabamba" formControlName="calle" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Número</mat-label>
          <input matInput type="number" placeholder="555" formControlName="numero" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Departamento</mat-label>
          <input matInput placeholder="7A" formControlName="departamento">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious color="accent">Volver</button>
        <button mat-button matStepperNext color="primary">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Datos Acompañantes -->
  <mat-step [stepControl]="datosAcompanantesForm" errorMessage="Faltan datos obligatorios">
    <form [formGroup]="datosAcompanantesForm">
      <ng-template matStepLabel>Datos de Acompañantes</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput type="text" placeholder="Juan" formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput type="text" placeholder="López Romero" formControlName="apellidos" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Número de Documento</mat-label>
          <mat-icon matSuffix>credit_card</mat-icon>
          <input matInput type="number" placeholder="38746321" formControlName="dni" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput type="date" formControlName="fechaNacimiento" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious color="accent">Volver</button>
        <button mat-button matStepperNext color="primary" (click)="registrarCheckIn()">Guardar</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>