<div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="!isLoading" class="top" fxLayout="column">
        <mat-form-field fxFlexAlign="center">
            <input matInput type="text" (keyup)="filtrar($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table matSort [dataSource]="reservas">
                <ng-container matColumnDef="nombreYApellido">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.cliente.nombreYApellido}} </td>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <th mat-header-cell *matHeaderCellDef> DNI </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.cliente.dni}} </td>
                </ng-container>

                <ng-container matColumnDef="idCabania">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cabaña </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.cabana.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="cantOcupantes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ocupantes </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.cantOcupantes}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaDesde">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Desde </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.fechaDesde | date}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaHasta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Hasta </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.fechaHasta | date}} </td>
                </ng-container>
                
                <ng-container matColumnDef="montoTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.montoTotal | currency:'USD'}} </td>
                </ng-container>

                <ng-container matColumnDef="montoSenia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seña </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.montoSenia | currency:'USD'}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td [ngStyle]="{'background-color': reserva.estado.descripcion == 'Pendiente Seña' ? reserva.estado.color : ''}" mat-cell *matCellDef="let reserva"> {{reserva.estado.descripcion}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            
            <mat-paginator
                [pageSize]="3"
                [pageSizeOptions]="[3, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>

    <mat-spinner *ngIf="isLoading" class="top"></mat-spinner>
</div>