.top {
  margin-top: 20px;
}

.myCalendar {
  cursor: pointer;
  width: 40%;
  min-width: 300px;
  min-height: 560px;
  margin-bottom: 5px;
}

.check {
  margin-right: 10px;
  font-size: large;
}

.mat-dialog-container {
  padding: 0px !important;
}

.fc-event-main {
  font-size: large;
}
